{% extends "template.html" %}
{% block body %}

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <form action="/" method="post">
                        <div class="form-group row">
                            <label for="x" class="col-sm-2 col-form-label">First Dim:</label>
                            <div class="col-sm-4">
                                <input type="number" min="2" max="300" class="form-control" id="x" name="x" placeholder="X" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="y" class="col-sm-2 col-form-label">Second Dim:</label>
                            <div class="col-sm-4">
                                <input type="number" min="2" max="300" class="form-control" id="y" name="y" placeholder="Y" required>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="n" class="col-sm-2 col-form-label">Num of grains:</label>
                            <div class="col-sm-4">
                                <input type="number" min="2" max="300" class="form-control" id="n" name="n" placeholder="Grains" required>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="prob" class="col-sm-2 col-form-label">Probability:</label>
                            <div class="col-sm-4">
                                <input type="number" min="0" max="100" class="form-control" id="prob" name="prob" placeholder="From 1% to 100%" required>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="n_inc" class="col-sm-2 col-form-label">Num of inclusions:</label>
                            <div class="col-sm-4">
                                <input type="number" min="0" max="50" class="form-control" id="n_inc" name="n_inc" placeholder="Inclusions" required>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="inc_type" class="col-sm-2 col-form-label">Inclusion Type:</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="inc_type" name="inc_type" required>
                                <option>Square</option>
                                <option>Round</option>
                                </select>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="inc_p" class="col-sm-2 col-form-label">Position:</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="inc_p" name="inc_p" required>
                                <option>Random</option>
                                <option>Random on boudaries</option>
                                </select>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="inc_r_start" class="col-sm-2 col-form-label">Size Start:</label>
                            <div class="col-sm-4">
                                <input type="number" min="2" max="10" class="form-control" id="inc_r_start" name="inc_r_start" placeholder="Start" required>
                             </div>
                        </div>
                        <div class="form-group row">
                            <label for="inc_r_stop" class="col-sm-2 col-form-label">Size Stop:</label>
                            <div class="col-sm-4">
                                <input type="number" min="2" max="10" class="form-control" id="inc_r_stop" name="inc_r_stop" placeholder="Stop" required>
                             </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}